#container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#quote-box {
  background-color: lightgray;
  padding: 30px;
  border-radius: 10px;
  min-height: 250px;
}

#quote {
  min-height: 220px;
}

#text {
  min-width: 500px;
  max-width: 500px;
  font-size: 20px;
}

#author {
  text-align: right;
}

#action-buttons {
  display: flex;
  justify-content: space-between;
}

#tweet-quote {
  padding: 10px;
  background-color: rgb(98, 204, 98);
  color: black;
  text-decoration: none;
}

#new-quote {
  border: none;
  background-color: rgb(98, 204, 98);
  padding: 10px;
  font-size: 15px;
}

#new-quote:hover {
  cursor: pointer;
}
